<div>
  <div class="d-block1 p-2 bg-dark  text-white text-center">Cotação do Bitcoin</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <canvas mdbChart 
          [chartType]="chartType"
          [datasets]="chartDatasets1"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true">
        </canvas>
      </div>
      <div class="col-sm">
        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Último dia</span>
        </div>
        <div>
          <div *ngIf="variation[0]['btcday'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['btcday'] }}%</span>
          </div>
          <div *ngIf="variation[0]['btcday'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['btcday'] }}%</span>
          </div>
        </div>

        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Última semana</span>
        </div>
        <div>
          <div *ngIf="variation[0]['btcweek'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['btcweek'] }}%</span>
          </div>
          <div *ngIf="variation[0]['btcweek'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['btcweek'] }}%</span>
          </div>
        </div>

        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Último mês</span>
        </div>
        <div>
          <div *ngIf="variation[0]['btcmonth'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['btcmonth'] }}%</span>
          </div>
          <div *ngIf="variation[0]['btcmonth'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['btcmonth'] }}%</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="d-block1 p-2 bg-dark  text-white text-center">Cotação do Dólar</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <canvas mdbChart 
          [chartType]="chartType"
          [datasets]="chartDatasets2"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true">
        </canvas>
      </div>
      <div class="col-sm">
        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Último dia</span>
        </div>
        <div>
          <div *ngIf="variation[0]['dolarday'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['dolarday'] }}%</span>
          </div>
          <div *ngIf="variation[0]['dolarday'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['dolarday'] }}%</span>
          </div>
        </div>

        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Última semana</span>
        </div>
        <div>
          <div *ngIf="variation[0]['dolarweek'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['dolarweek'] }}%</span>
          </div>
          <div *ngIf="variation[0]['dolarweek'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['dolarweek'] }}%</span>
          </div>
        </div>

        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Último mês</span>
        </div>
        <div>
          <div *ngIf="variation[0]['dolarmonth'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['dolarmonth'] }}%</span>
          </div>
          <div *ngIf="variation[0]['dolarmonth'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['dolarmonth'] }}%</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="d-block1 p-2 bg-dark  text-white text-center">Cotação do Euro</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <canvas mdbChart 
          [chartType]="chartType"
          [datasets]="chartDatasets3"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true">
        </canvas>
      </div>
      <div class="col-sm">
        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Último dia</span>
        </div>
        <div>
          <div *ngIf="variation[0]['euroday'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['euroday'] }}%</span>
          </div>
          <div *ngIf="variation[0]['euroday'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['euroday'] }}%</span>
          </div>
        </div>

        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Última semana</span>
        </div>
        <div>
          <div *ngIf="variation[0]['euroweek'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['euroweek'] }}%</span>
          </div>
          <div *ngIf="variation[0]['euroweek'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['euroweek'] }}%</span>
          </div>
        </div>

        <div>
          <span class="d-block2 p-2 bg-secondary text-white text-center">Último mês</span>
        </div>
        <div>
          <div *ngIf="variation[0]['euromonth'] >=0 ">
            <span class="d-block3 p-2 bg-success text-black text-center">{{ variation[0]['euromonth'] }}%</span>
          </div>
          <div *ngIf="variation[0]['euromonth'] < 0 ">
            <span class="d-block3 p-2 bg-danger text-black text-center">{{ variation[0]['euromonth'] }}%</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

